<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all accessories</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            fillData();
        });

        function fillData(page) {
            $.get('/api/accessories', function (result) {
                let rowsData = '';
                for (let i = 0; i < result._embedded.accessories.length; i++) {
                    let accessory = result._embedded.accessories[i];
                    var actionButton =
                        '<td>' +
                        '<a href="/accessory/edit?code=' + accessory.code + '"><img title="Edit" src="/images/blue_icons_24x24/edit.png"/></a>' +
                        '<a data-id="accessory_' + accessory.code + '" href="accessory.html"><img title="Delete" src="/images/blue_icons_24x24/trash.png"/></a>' +
                        '</td>';

                    rowsData += '<tr><td>' + accessory.code + '</td>' +
                        '<td>' + accessory.name + '</td>' +
                        actionButton +
                        '</tr>';
                }
                let accessoryDataElement = $('#accessoryData');
                accessoryDataElement.html(rowsData);

                $('a[data-id^=accessory_]').one('click', function (event) {
                    let accessoryCode = $(this).attr('data-id').replace('accessory_', '');
                    if (confirm('Are you sure to delete item "' + accessoryCode + '"?')) {
                        $.ajax({
                            url: '/api/accessories/' + accessoryCode,
                            type: 'DELETE',
                            success: function () {
                                location.href = '/accessories';
                            },
                            error: function (jqXHR, exception) {
                                alert('Could not delete "' + accessoryCode + '"');
                            }
                        });
                    }
                    event.preventDefault();
                });
            });
        }
    </script>
</head>
<body>
<p><strong>Accessories:</strong></p>

<div id="navigation"></div>
<table class="accessories">
    <thead>
    <tr>
        <th>Code</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="accessoryData"/>
</table>
<div id="toolbar">
    <a th:href="@{/}" href="../index.html"><img title="Back" th:src="@{/images/blue_icons_24x24/up.png}"/></a>
    <a th:href="@{/accessory/add}" href="accessory.html"><img title="Add" th:src="@{/images/blue_icons_24x24/plus.png}"/></a>
</div>
</body>
</html>

